# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/
*.egg-info/

# Tests and coverage
/data/
/node_modules/



# docs
/docs/generated/
/docs/_build/
/docs/notebooks/tutorials/scpoli_atlas_mapper
/docs/notebooks/tutorials/scpoli_reference_model
/docs/notebooks/tutorials/topic_inference_results.tsv
